
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  padding: 5rem;
}

.scores {
  display: grid;
  padding: 1rem;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  margin: 0 auto;
}

header {
  width: 70%;
  padding: 1rem;
  margin: 0 auto;
}

.recent-scores {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

.score-refresh {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.add-scores {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

.add-scores h2 {
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button {
  width: min-content;
  padding: 0.3rem 1rem;
}

.flex {
  display: flex;
  padding: 0.5rem;
}

.name-board {
  border: 2px solid black;
  padding: 1rem;
  overflow: auto;
  height: 300px;
}

.child {
  margin-left: 2px;
}

li {
  list-style: none;
}

form input {
  width: 70%;
  padding: 0.3rem;
}
