
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #151B5E;
  padding: ;
  overflow-y: hidden;
  color: #fff;
}

.scores {
  display: grid;
  padding: 1rem;
  grid-template-columns: 1fr auto;
  width: 80%;
  margin: 0 auto;
}

header {
  display: flex;
  gap: 0.5em;
  align-items: center;
  width: 80%;
  padding: 4rem 3rem 0 3rem;
  margin: 0 auto;
}
header svg {
  width: 50px;
  height: 50px;
}

.recent-scores {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  background-color: ;
}

.score-refresh {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-image: linear-gradient(180deg, #606297, #12195A);
  border-radius: 0.5rem;

}


.add-scores {

  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  
}

.ctn-form:hover {
  box-shadow: 2px 2px 40px #dbdbdb38;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
 
}
.ctn-form {
  padding: 1rem;
  background-image: linear-gradient(180deg, #606297, #12195A);
  border-radius: 0.5rem;
  transition: box-shadow 0.5s;
  cursor: pointer;
}
button {
  width: min-content;
  padding: 0.3rem 1rem !important; 
}

.flex {
  display: flex;
  padding: 0.5rem;
  background-image: linear-gradient(180deg, #606297, #6C709C); 
  padding: 1rem;
  gap: 3rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
 
}

.name-board {
  border: 3px solid #DBDBDB;
  padding: 1rem;
  overflow: auto;
  height: 300px;
}

.child {
  margin-left: 2px;
}

li {
  list-style: none;
}

form input {
  width: 90%;
  padding: 0.3rem;
  border-radius: 0.5em;
  border: none;
}

#refresh {
  width: min-content;
  padding: 0.1rem 1rem !important; 
}
